[submodule "PRODUCTION/video_modules/F5-TTS"]
	path = PRODUCTION/video_modules/F5-TTS
	url = https://github.com/SWivid/F5-TTS.git

[submodule "PRODUCTION/video_modules/GeminiWatermarkTool"]
	path = PRODUCTION/video_modules/GeminiWatermarkTool
	url = https://github.com/allenk/GeminiWatermarkTool.git
